/* Alberto Pérez Bernabeu */

 section{
    display: grid;
    grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-areas:
        "hora   lun     mar     mie     jue     vie"
        "ocho   sistinf llmm    ent     fol     fol"
        "nueve  sistinf llmm    ent     sistinf fol"
        "diez   prog    sistinf llmm    sistinf bbdd"
        "once-c rec     rec     rec     rec     rec"
        "once-m prog    sistinf llmm    ent     bbdd"
        "doce   bbdd    prog    prog    bbdd    prog"
        "una    bbdd    prog    prog    bddd    prog";
}

span{
    margin: 1px;
}

h2{
    text-align: center;
}

.rec{
    grid-area: "rec";
}

.hora{
    grid-area: "hora"
}

.fol{
    grid-area: "fol";
    background-color:khaki;
    text-align: center;
    border: solid medium;
}

.ent{
    grid-area: "ent";
    background-color:magenta;
    text-align: center;
    border: solid medium;
}

.bbdd{
    grid-area: "bbdd";
    background-color: blueviolet;
    text-align: center;
    border: solid medium;
}

.sistinf{
    grid-area: "sistint";
    background-color: red;
    text-align: center;
    border: solid medium;
}

.llmm{
    grid-area: "llmm";
    background-color: aquamarine;
    text-align: center;
    border: solid medium;
}

.prog{
    grid-area: "prog";
    background-color: yellowgreen;
    text-align: center;
    border: solid medium;
}