/* Alberto Pérez Bernabeu */

/* En su estado normal, un enlace se muestra de color rojo y sin subrayado (propiedad text-decoration).

Cuando el usuario sitúa el cursor del ratón sobre un enlace, se invierten los colores (el texto del enlace se muestra con color 
blanco sobre un fondo rojo) y se muestra el subrayado.

Cuando un enlace está activo, se muestra de color naranja y sin subrayado.

Cuando un enlace ha sido visitado, se muestra de color verde oscuro y sin subrayado.

Cuando un enlace tiene el foco del teclado, se muestra de color azul y se muestra el subrayado. */

a{
    color: red;
    text-decoration: none;
}

a:visited{
    color: green;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: red;
}

a:focus{
    color: blue;
    text-decoration: underline;
}

a:active{
    color: orange;
    text-decoration: none;
}

